* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6600;
    margin: 4px;
    padding: 4px;
}

.menu .sol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu .sag a {
    text-decoration: none;
}

.baslık {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana;
}

.sayfa{
    background-color: #f6f6ef;
    min-width: 1000px;
    min-height: 100vh;
}
.cizgi{
    border-top: double 2px coral;
}

.altsayfa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6ef;
    min-width: 1000px;
    padding: 40px;
}

.altsayfa a{
    text-decoration: none;
    color: black;
}
.altsayfa .sag{
    display: flex;
    justify-content: center;

}
.alt a{
    font-size: 11px;
    text-decoration: none;
    color:gray;
}
.ust a{
    font-size: 11px;
    text-decoration: none;
    color:gray; 
}
.site{
    padding-left: 145px;
    padding-right: 145px;

}
