* {
    margin: 0px;
    padding: 0px;
}
.menu {
    display: flex;
    align-items: center;
    background-color: #ff6600;
    margin: 5px;
    padding: 1px;
}

.menu a {
    display: flex;
    color: black;
    text-decoration: none;
    
}
    
    
    

.sayfa{
    background-color: #f6f6ef;
    min-width: 1000px;
    min-height: 1000px;
    margin: 12px;
    padding-left: 15px;
}
.cizgi{
    border-top:solid 2px#ff6600;
}

.altsayfa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6ef;
    min-width: 1000px;
    padding: 18px;
}

.altsayfa a{
    text-decoration: none;
    color: black;
}
.altsayfa .sag{
    display: flex;
    justify-content: center;

}
.alt a{
    font-size: 11px;
    text-decoration: none;
    color:gray;
}
.ust a{
    font-size: 11px;
    text-decoration: none;
    color:gray; 
}
.site{
    padding-left: 135px;
    padding-right: 135px;

}
